{% extends 'base.html' %}
{% load static %}


{% block css %}
  <link rel="stylesheet" href="{% static 'search/css/custom.css' %}">
{% endblock css %}
  

<!-- Product searched -->
{% block masterhead %}
    <header class="masthead masthead-custom">
        <div class="container">
          <div class="row h-30 align-items-center justify-content-center text-center">
              <div class="col-lg-10 align-self-end">
                <h1 class="text-uppercase text-white font-weight-bold prod-title-custom">Aliment cherché</h1>
              </div>
          </div>
        </div>
    </header>    
{% endblock masterhead %}

<!-- Display better products -->
{% block results %}
<section class="page-section" id="story">
    <div class="container">
      
      <!-- Titles -->
      <h2 class="text-center mt-0">Vous pouvez remplacer vos aliments par:</h2>
      <hr class="divider my-4">
  
      <!-- Row 1 -->
      <div class="row">
        <!-- Colette -->
        <div class="col-lg-4 col-md-4 text-center custom-div ">
          <div class="mt-5 "> 
            <!-- Prod -->
            <a class="image-container" href="{% url 'product-product' %}">
              <img src="https://via.placeholder.com/250x150" alt="">
              <img class ="nutriscore" src="{% static 'search/img/a.png' %}" alt="">
            </a>
            <h3 class="h4 mb-2">Nom aliment 13</h3>
            <a href="{% url 'favorites-favorites' %}"><i class="fa fa-floppy-o" aria-hidden="true"></i><span class="text-muted">  Sauvegarder</span></a>
          </div>
        </div>
        <!-- Prod -->
        <div class="col-lg-4 col-md-4 text-center custom-div">
          <div class="mt-5 "> 
            <!-- image -->
            <a class="image-container" href="{% url 'product-product' %}">
              <img src="https://via.placeholder.com/250x150" alt="">
              <img class ="nutriscore" src="{% static 'search/img/b.png' %}" alt="">
            </a>
            <h3 class="h4 mb-2">Nom aliment 14</h3>
            <a href="{% url 'favorites-favorites' %}"><i class="fa fa-floppy-o" aria-hidden="true"></i><span class="text-muted">  Sauvegarder</span></a>
            
          </div>
        </div>
        <!-- Prod -->
        <div class="col-lg-4 col-md-4 text-center">
            <div class="mt-5 "> 
              <!-- image -->
              <a class="image-container" href="{% url 'product-product' %}">
                <img src="https://via.placeholder.com/250x150" alt="">
                <img class ="nutriscore" src="{% static 'search/img/c.png' %}" alt="">
              </a>
              <h3 class="h4 mb-2">Nom aliment 15</h3>
              <a href="{% url 'favorites-favorites' %}"><i class="fa fa-floppy-o" aria-hidden="true"></i><span class="text-muted">  Sauvegarder</span></a>
              
            </div>
          </div>
      </div>

      <!-- Row 2 -->
      <div class="row">
        <!-- Colette -->
        <div class="col-lg-4 col-md-4 text-center">
          <div class="mt-5 "> 
            <!-- Prod -->
            <a class="image-container" href="{% url 'product-product' %}">
              <img src="https://via.placeholder.com/250x150" alt="">
              <img class ="nutriscore" src="{% static 'search/img/d.png' %}" alt="">
            </a>
            <h3 class="h4 mb-2">Nom aliment 16</h3>
            <a href="{% url 'favorites-favorites' %}"><i class="fa fa-floppy-o" aria-hidden="true"></i><span class="text-muted">  Sauvegarder</span></a>
            
          </div>
        </div>
        <!-- Prod -->
        <div class="col-lg-4 col-md-4 text-center">
          <div class="mt-5 "> 
            <!-- image -->
            <a class="image-container" href="{% url 'product-product' %}">
              <img src="https://via.placeholder.com/250x150" alt="">
              <img class ="nutriscore" src="{% static 'search/img/e.png' %}" alt="">
            </a>
            <h3 class="h4 mb-2">Nom aliment 17</h3>
            <a href="{% url 'favorites-favorites' %}"><i class="fa fa-floppy-o" aria-hidden="true"></i><span class="text-muted">  Sauvegarder</span></a>
            
          </div>
        </div>
        <!-- Prod -->
        <div class="col-lg-4 col-md-4 text-center">
            <div class="mt-5 "> 
              <!-- image -->
              <a class="image-container" href="{% url 'product-product' %}">
                <img src="https://via.placeholder.com/250x150" alt="">
                <img class ="nutriscore" src="{% static 'search/img/b.png' %}" alt="">
              </a>
              <h3 class="h4 mb-2">Nom aliment 18</h3>
              <a href="{% url 'favorites-favorites' %}"><i class="fa fa-floppy-o" aria-hidden="true"></i><span class="text-muted">  Sauvegarder</span></a>
              
            </div>
          </div>
      </div>
    </div>
    <nav aria-label="Page navigation example ">
      <ul class="pagination justify-content-center mt-5">
        <li class="page-item ">
          <a class="page-link" href="#" tabindex="-1">Previous</a>
        </li>
        <li class="page-item"><a class="page-link" href="{% url 'search-results' %}">1</a></li>
        <li class="page-item"><a class="page-link" href="{% url 'search-result2' %}">2</a></li>
        <li class="page-item"><a class="page-link" href="{% url 'search-result3' %}">3</a></li>
        <li class="page-item">
          <a class="page-link" href="#">Next</a>
        </li>
      </ul>
    </nav>
  </section>
{% endblock results %}   