{% extends 'base.html' %}
{% load static %}


{% block css %}
  <link rel="stylesheet" href="{% static 'search/css/custom.css' %}">
{% endblock css %}
  

<!-- Product searched -->
{% block masterhead %}
    <header class="masthead masthead-custom custom-header">
        <div class="container">
          <div class="row h-30 align-items-center justify-content-center text-center">
              <div class="col-lg-10 align-self-end">
                <h2 class="text-uppercase text-white font-weight-bold prod-title-custom">Mentions légales.</h2>
              </div>
          </div>
        </div>
    </header>    
{% endblock masterhead %}

{% block results %}
    <section class="page-section" >
        <div class="container">
            <div class="row justify-content-center align-items-center" id="account-info">
              <ul>
                <li>Icônes mises à disposition gratuitement par IconMoon</li>
                <li>Icône carotte par Fabien Jouin, DE, Creative Commons</li>
                <li>Photo "Fresh Desserts" par Olenka Kotyk</li>
                <li>Site réalisé par <a href="https://fr.linkedin.com/in/dorian-massoulier-310630179" target="_blank">Dorian Massoulier</a>  à l'aide du framework 
                  <a href="https://www.djangoproject.com/" target="_blank">                
                    <img src="{% static 'img/django-logo-negative.png' %}"  width="50px" height="auto" alt="">
                  </a> 
                </li>
              </ul>
            </div>
        </div>
    </section>
{% endblock results %}
