{% extends 'base.html' %}
{% load static %}


{% block css %}
  <link rel="stylesheet" href="{% static 'search/css/custom.css' %}">
{% endblock css %}
  

<!-- Product searched -->
{% block masterhead %}
    <header class="masthead masthead-custom custom-header">
        <div class="container">
          <div class="row h-30 align-items-center justify-content-center text-center">
              <div class="col-lg-10 align-self-end">
                <h1 class="text-uppercase text-white font-weight-bold prod-title-custom">Mentions légales......</h1>
              </div>
          </div>
        </div>
    </header>    
{% endblock masterhead %}

{% block results %}
    <section class="page-section" >
        <div class="container">
            <div class="row justify-content-center align-items-center" id="account-info">
              <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cum non optio minus tempora ratione fuga, nemo veniam assumenda voluptates laboriosam provident nihil commodi obcaecati, temporibus doloribus atque aliquam! Aliquam, repellat!
              Laudantium cumque nobis temporibus laborum sunt fugit nihil corrupti obcaecati sapiente perferendis incidunt, velit blanditiis sequi iusto officiis sit accusantium possimus. Cum consequatur blanditiis eligendi distinctio sed architecto saepe sapiente.
              Maiores, eum odio! Ut ducimus iusto quis numquam nemo quibusdam asperiores id odit dignissimos ex, quae voluptatum odio in vitae laboriosam eum modi voluptates, error consequatur, placeat facere quo ullam!
              Iure accusamus nemo quae hic atque neque sint omnis modi repellat excepturi, laborum sed! Eos necessitatibus soluta neque magni cum pariatur. Sequi ab labore tempore ducimus dolorum libero quibusdam distinctio!
              Facilis quas nostrum iure eaque velit accusantium suscipit possimus. Consequatur molestias maiores in ipsum quaerat distinctio aliquid. Quod, unde! Dolor molestias soluta earum doloremque dolorem! Iste facere adipisci tempore accusantium?
              Facilis laudantium ipsam esse! Sequi, aspernatur non! Perspiciatis, possimus! Expedita laborum at beatae, enim blanditiis cum corporis doloremque error dolorum excepturi. Odio sed quis unde ut molestias omnis perferendis harum.
              Error laboriosam numquam ad voluptatum. Libero eveniet porro laboriosam possimus a quisquam blanditiis, illum veniam eius reprehenderit ut dignissimos tempore quasi, hic rerum excepturi facilis quidem? Laboriosam ipsam harum sapiente.
              Deleniti eos a quisquam, animi consequatur dolores, ab, error illo possimus sed debitis deserunt voluptate ut at explicabo dignissimos ex necessitatibus expedita architecto! Dolorum in exercitationem maiores, ut consequuntur magni?
              Nemo, officia nostrum culpa quam dolorem asperiores deserunt natus officiis voluptatibus veritatis minima aliquid accusamus ipsum dolores mollitia soluta ex sed. Distinctio architecto maiores corporis perspiciatis saepe eligendi accusamus veritatis.
              Quis, consequatur! Similique rerum officia itaque blanditiis sapiente delectus facere at eos laudantium debitis dicta veritatis est sint, aut reiciendis vitae doloribus esse temporibus quaerat illum! At velit odio mollitia?</p>   
            </div>
        </div>
    </section>
{% endblock results %}
