{% extends 'base.html' %}
{% load static %}


{% block css %}
  <link rel="stylesheet" href="{% static 'search/css/custom.css' %}">
  <link rel="stylesheet" href="{% static 'favorites/css/custom.css' %}">
{% endblock css %}

<!-- Product searched -->
{% block masterhead %}
    <header class="masthead masthead-custom">
        <div class="container">
          <div class="row h-30 align-items-center justify-content-center text-center">
              <div class="col-lg-10 align-self-end">
                
                {% if products %}
                  <h1 class="text-uppercase text-white font-weight-bold prod-title-custom fav-title-custom">Vos aliments favoris !</h1>
                {% else %}
                  <h2 class="text-uppercase text-white font-weight-bold prod-title-custom fav-title-custom">   Vous n'avez pas encore de produits enregistrés !</h1>
                {% endif %}
                  
              </div>
          </div>
        </div>
    </header>    
{% endblock masterhead %}

<!-- Display better products -->
{% block results %}
<section class="page-section" id="story">
    <div class="container">

      <!-- Row of 3 prod max -->
      <div class="row justify-content-center">

        <!-- For testing we test with ONLY 3 FAVORITES PROD  -->
        
        {% for product in products %}

          <!-- Image container -->
          <div class="col-lg-4 col-md-4 text-center mt-5 image-container ">

              <!-- Prod image and link -->
              <a class="custom-img" href="{% url 'product-product' prod_id=product.id %}">
                <img class="custom-img" src='{{ product.image }}' alt="">           
                <img class ="nutriscore" src="{% static 'search/img/a.png' %}" alt="">
              </a>

              <!-- Prod name and suppression -->
              <h3 class="h4 mb-2">{{ product.name }}</h3>
              <!-- <a href="{% url 'favorites-favorites' %}"><i class="fa fa-floppy-o" aria-hidden="true"></i><span class="text-muted">  Supprimer l'aliment</span></a> -->

          </div>

        {% endfor %}
      </div>

      <!-- Pagination for futur dev -->
      <!-- <div class="row justify-content-center">
        <nav aria-label="Page navigation example ">
          <ul class="pagination justify-content-center mt-5">
            <li class="page-item disabled">
              <a class="page-link" href="#" tabindex="-1">Previous</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
              <a class="page-link" href="#">Next</a>
            </li>
          </ul>
        </nav>
      </div> -->

    </div>
  </section>
{% endblock results %}    