.page-section {
    padding: 4rem 0;
}

img.custom-img {
    max-height: 25vh;
    max-width: 25vw;
}
img.nutriscore {
    position: absolute;
    top: -15px;
    right: -15px;
    height: 35px;
    width: 90px;
}
a.custom-img {
    display: inline-block;
    position: relative;
}
@media(max-width: 767px ){

    img.custom-img {
        max-width: 70vw;
        max-height: 60vh;
    }

    img.nutriscore {
        position: absolute;
        top: -15px;
        right: -15px;
        height: 35px;
        width: 90px;
    }
}
@media(min-width: 1800px) {
    img.custom-img {
        max-height: 25vh;
        max-width: 350px;
    }

}