div.image-container {
    position: relative;
    display: block;
}


/* div.custom-div {
    margin-right: 10px;
} */


@media(min-width: 991px ){

    header.masthead.masthead-custom {
        height: 30vh;
        min-height: 13rem;
        padding-top: 30x;
    }

    h1.prod-title-custom {
        padding-top: 30px;
    }
}

