{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}


{% block masterhead %}

<section class="page-section">
    <div class="container">
        <!-- Login Form -->
        <div class="row justify-content-center">
            <form method="post">
                {% csrf_token %}
                <legend> Login page</legend>
                {{ form|crispy}}
                <input name="valider" type="submit">
            </form>                      
        </div>
        <!-- Spacing -->
        <hr class="divider my-4">
        <!-- Signup link -->
        <div class="row justify-content-center">
            <p>No account ? You can signup<a href="{% url 'signup' %}"> here</a> ! </p>  
        </div>      
    </div>
</section>

 
     
{% endblock masterhead %}
    