{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}


{% block css %}
    <link rel="stylesheet" href="{% static 'users/css/custom.css' %}">
{% endblock css %}

{% block masterhead %}
<header class="masthead text-white jumbotron d-flex align-items-center min-vh-50 page-section">
    <div class="container">
        <!-- register Form -->
        <div class="row justify-content-center">
            <form method="post">
                {% csrf_token %}
                <legend > Création de votre compte !</legend>
                {{ form|crispy}}
                <input name="valider" type="submit">
            </form>                     
        </div>     
    </div>
</header> 
{% endblock masterhead %}